
.container{
    display: flex;
    gap: 13vw;
}
.textContainer
{
    margin-top: 4vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}
.textContainer h1{
    font-size: 2vw;
    font-weight: 2vw;
    color: rgb(81,114,205);
}
.imgContainer{
    margin-top: 2vw;
position: relative;
width: 40vw;
height: 40vw;
}
#p1{
    font-size: 4vw;
}
#p2{
    font-size: 1.1vw;
}
.template
{
display: flex;
gap: 2vw;
}
.template p{
    font-size: 2vw;
    font-weight: bold;
    color: rgb(81,114,205);
}
.template span{
    color: rgb(255, 255, 255);
    font-size: 1.1vw;
    font-weight:100;
}